# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
env/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build artifacts
dist/
build/

# IDEs
.vscode/
!.vscode/extensions.json
.idea/
